<div class="jumbotron" style="min-height:200px;">
    به وبسایت دوره MCSD خوش آمدید...
</div>

@*@section Scripts{
    <script>
        $(function () {
            alert("Document Is Ready");
        });
    </script>    
}*@
